

/* Personalización FUENTE LETRA  */
@font-face {
    font-family: lato;
    src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
    font-weight: bold;
    font-style: bold;
  
  }
  
  @font-face {
    font-family: latog;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
  }
  
  @font-face {
    font-family: quetrial;
    src: url(../fonts/Questrial/Questrial-Regular.ttf);
  }
  Ajustes generales de las letras
*/
h1{ font-family:latog;
    font-weight: bold}

h2{ font-family:queterial;
    }

h3{ font-family:quetrial;
    }
a{
    font-family:quetrial;
    font-weight: bold}

p{  font-family:latog;}


ul{ list-style:none;}



body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: #ccc;
    margin: 0;
    background-color: #f1e1ee;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 500px;
    width: 90%; /* Cambiado a 90% para pantallas pequeñas */
    max-width: 400px; /* Ancho máximo para pantallas grandes */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #eb9ec5;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    background-color: #d5d5d5;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.options a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}
/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
    .login-container {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .btn {
        font-size: 14px;
    }

    .options a {
        font-size: 12px;
    }
}